

# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# IDE
.idea/
.vscode/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
android/google-services.json
android/app/google-services.json

# iOS
ios/Pods/

# Env & secrets
.env

#lib
lib/firebase_options.dart

# Generated
.flutter-plugins
.flutter-plugins-dependencies
.metadata