

# Flutter/Dart
.dart_tool

build/

# IDE
.idea/
.vscode/

# Android
android/key.properties
android/google-services.json
android/app/google-services.json


# Env & secrets
.env
.env.txt

# APIS
 lib/firebase_options.dart

# Generated
.flutter-plugins
.flutter-plugins-dependencies
.metadata